/data/MHCI
/data/MHCII
/data/MHCI_binding
data/MHCI/experiment_data_MHCI.csv
data/MHCI_binding/epitope_table_export_1646898359.csv
data/MHCII/experiment_data_MHCII.csv
data/MHCI/epitope_data_MHCI.csv
/tmp
data/gibbs_immunogenic
DeepImmuno
.DS_Store
MHCII/code_github
MHCII/models
blast_databases
MHCII/Humab_theraputics_data/newMHCIIpan_results/*
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Abciximab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Adalimumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Alirocumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Basiliximab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Benralizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Bevacizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Canakinumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetolizumab_pegol.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Cetuximab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Daclizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Denosumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Efalizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Evolocumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Fremanezumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Gemtuzumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Idarucizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Infliximab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ipilimumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Lanadelumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Natalizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Obinutuzumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ofatumumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Omalizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Palivizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pembrolizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Pertuzumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ramucirumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ranibizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Reopro.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Rituximab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Sarilumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Secukinumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Siltuximab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Tocilizumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Trastuzumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Ustekinumab.19.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.12.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.13.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.14.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.15.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.16.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.17.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.18.1.5
code_github/data/FDA_netMHCIIpan_results/pred.Vedolizumab.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Atezolizumab.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bevacizumab.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Bococizumab.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Hemocyanin.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Herceptin.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.IL21R.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Infliximab.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Natalizumab.19.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.13.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.14.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.15.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.16.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.17.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.18.1.5
code_github/data/netMHCIIpan_results_immuneXperts/pred.Nivolumab.19.1.5
code_github/data/DRB_world_average copy.txt
code_github/data/immuneXperts_imm_scores.txt
code_github/datasets_git.py
code_github/general_functions_git.py
code_github/model_structures.py
code_github/README.md
code_github/test_predictions.ipynb
code_github/threeway_model_1.py
code_github/threeway_model_2.py
code_github/unweighted_and_weighted.py
code_github/.ipynb_checkpoints/threeway_model_1.py-jvsc-4d85202c-ded9-4e28-881b-32d43daf3322-checkpoint.ipynb
code_github/__pycache__/datasets_git.cpython-39.pyc
code_github/__pycache__/general_functions_git.cpython-39.pyc
code_github/__pycache__/model_structures.cpython-39.pyc
code_github/data/9_mers_IMGT_database.txt
code_github/data/DRB_world_average.txt
code_github/data/FDA_imm_scores_independent.txt
code_github/data/IX_HLA_frequencies.txt
code_github/data/FDA_fasta_sequences/Abciximab.fasta
code_github/data/FDA_fasta_sequences/Basiliximab.fasta
code_github/data/FDA_fasta_sequences/Canakinumab.fasta
code_github/data/FDA_fasta_sequences/Cetolizumab_pegol.fasta
code_github/data/FDA_fasta_sequences/Daclizumab.fasta
code_github/data/FDA_fasta_sequences/Denosumab.fasta
code_github/data/FDA_fasta_sequences/Efalizumab.fasta
code_github/data/FDA_fasta_sequences/Fremanezumab.fasta
code_github/data/FDA_fasta_sequences/Gemtuzumab.fasta
code_github/data/FDA_fasta_sequences/Idarucizumab.fasta
code_github/data/FDA_fasta_sequences/Lanadelumab.fasta
code_github/data/FDA_fasta_sequences/Ofatumumab.fasta
code_github/data/FDA_fasta_sequences/Omalizumab.fasta
code_github/data/FDA_fasta_sequences/Palivizumab.fasta
code_github/data/FDA_fasta_sequences/Pertuzumab.fasta
code_github/data/FDA_fasta_sequences/Ramucirumab.fasta
code_github/data/FDA_fasta_sequences/Ranibizumab.fasta
code_github/data/FDA_fasta_sequences/Rituximab.fasta
code_github/data/FDA_fasta_sequences/Sarilumab.fasta
code_github/data/FDA_fasta_sequences/Secukinumab.fasta
code_github/data/FDA_fasta_sequences/Siltuximab.fasta
code_github/data/FDA_fasta_sequences/Vedolizumab.fasta
code_github/data/IX_fasta_sequences/Atezolizumab.fasta
code_github/data/IX_fasta_sequences/Bevacizumab.fasta
code_github/data/IX_fasta_sequences/Bococizumab.fasta
code_github/data/IX_fasta_sequences/Hemocyanin.fasta
code_github/data/IX_fasta_sequences/Herceptin.fasta
code_github/data/IX_fasta_sequences/IL21R.fasta
code_github/data/IX_fasta_sequences/Infliximab.fasta
code_github/data/IX_fasta_sequences/Natalizumab.fasta
code_github/data/IX_fasta_sequences/Nivolumab.fasta
code_github/other_scripts/C_X_sub.py
code_github/other_scripts/filter_imgt_database_using_blast.py
code_github/other_scripts/filter_imgt_database.py
code_github/other_scripts/generate_dat_file_from_fasta.py
