/data/MHCI
/data/MHCII
/data/MHCI_binding
data/MHCI/experiment_data_MHCI.csv
data/MHCI_binding/epitope_table_export_1646898359.csv
data/MHCII/experiment_data_MHCII.csv
data/MHCI/epitope_data_MHCI.csv
/tmp
data/gibbs_immunogenic
DeepImmuno